<!DOCTYPE html>

<html lang="fr">
	
	<head>
		<meta charset="UTF-8">
		<title>Star Wars IV Un nouvel espoir </title>
		<link rel="stylesheet" href="./src/projet.css">
	</head>
	<body>
		<img class="logo" src="./src/images/svg/logo.svg" alt="logo">
		<table class="film">
			<tr>
				<td><img class="film" src="./src/images/covers/SWLGDE.jpg" alt="film"></td>
				<td class="description">
					<p class="titre">Star Wars IV Un nouvel espoir</p>
					<p class="film">Réalisé par :  George Lucas</p>
					<p class="film">Genre(s) : Science fiction, Aventure </p>
					<p class="film">Date de sortie : 1997</p>
					<p class="film">Durée :  2h 01 min</p>
					<p class="film">Avis : 4.4'/5</p>
					<p class="description">Il y a bien longtemps, dans une galaxie très lointaine... La guerre civile fait rage entre l'Empire galactique et l'Alliance rebelle. Capturée par les troupes de choc de l'Empereur menées par le sombre et impitoyable Dark Vador, la princesse Leia Organa dissimule les plans de l'Etoile Noire, une station spatiale invulnérable, à son droïde R2-D2 avec pour mission de les remettre au Jedi Obi-Wan Kenobi. Accompagné de son fidèle compagnon, le droïde de protocole C-3PO, R2-D2 s'échoue sur la planète Tatooine et termine sa quête chez le jeune Luke Skywalker. Rêvant de devenir pilote mais confiné aux travaux de la ferme, ce dernier se lance à la recherche de ce mystérieux Obi-Wan Kenobi, devenu ermite au cœur des montagnes désertiques de Tatooine...</p>
				</td>
			</tr>
		</table>
	</body>
	