<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Conseils Ciné</title>
    <link rel="icon" href="./src/images/ticket.icon.ico">
    <link rel="stylesheet" href="./src/index.css">
    <script src="src/index.js" defer></script>
</head>
<body>
    <div id="navbar">
        <nav>
            <img src="./src/images/svg/logo.svg" alt="Conseils Ciné logo">
            <div class="A">
                <a href="#recoDuJour">Reco du jour !</a>
                <a href="#catalogue">Voir le catalogue</a>
            </div>
        </nav>
    </div>
    <div class="title">
        <div class="bluredBg"></div>
        <img src="./src/images/svg/waving-hand.svg" alt="waving hand">
        <div class="titleText">
            <div class="title1">
                <h1>Bienvenue sur </h1>
                <h1 class="votre">votre</h1>
                <h1>site de</h1>
            </div>
            <h1>critique de film</h1>
        </div>
    </div>
    <div>
        <a class="buttonReco" href="#recoDuJour">
            <div class="buttonRecoContent">
                <img src="./src/images/svg/chevron.svg" alt="chevron">
                Voir la reco du jour
            </div>
        </a>
    </div>
    <section id="recoDuJour">
        <div id="title">
            <p>La</p>
            <h2>reco du <br>jour !</h2>
            <img src="./src/images/svg/trophy.svg" alt="trophy">
        </div>
        <img class="stopwatch" src="./src/images/svg/stopwatch.svg" alt="stopwatch">
        <div id="filmReco">
            <div id="filmRecoContent">
                <div id="filmHead">
                    <h2 id="filmTitle">Forrest Gump</h2>
                    <div id="note">
                        <h4>4,6</h4>
                        <img src="./src/images/svg/star.svg" alt="star">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="catalogue">
        <img class="titre" src="./src/images/svg/TITRE.svg" alt="Le catalogue">
        <div class="list">
            <a href="Forest_Gump.html">
                <img src="./src/images/covers/forrestGump.png" alt="forrestGump">
            </a>
            <a href="La_liste_de_schindler.html">
                <img src="./src/images/covers/LLDS.jpg" alt="la liste de schindler">
            </a>
            <a href="Divergente.html">
                <img src="./src/images/covers/Divergente.jpg" alt="divergente">
            </a>
            <a href="Ready_Player_One.html">
                <img src="./src/images/covers/RPO.jpg" alt="ready player one">
            </a>
            <a href="Harry_Potter_l_ecole_des_sorciers.html">
                <img src="./src/images/covers/HP.jpg" alt="harry potter">
            </a>
            <a href="Star_Wars_Un_nouvel_espoir.html">
                <img src="./src/images/covers/SWLGDE.jpg" alt="star wars">
            </a>
            <a href="Le_Roi_Lion.html">
                <img src="./src/images/covers/LRL.jpg" alt="le roi lion">
            </a>
            <a href="Retour_vers_le_futur.html">
                <img src="./src/images/covers/RVLF.jpg" alt="retour vers le futur">
            </a>
            <a href="E.T._l_extra-terrestre.html">
                <img src="./src/images/covers/ET.jpg" alt="ET">
            </a>
            <a href="Dragonball_Evolution.html">
                <img src="./src/images/covers/DBevo.jpg" alt="dragon ball evolution">
            </a>
            <a href="Le_jour_et_la_nuit.html">
                <img src="./src/images/covers/LJELN.jpg" alt="le jour et la nuit">
            </a>
            <a href="Nos_etoiles_contraires.html">
                <img src="./src/images/covers/NEC.jpg" alt="nos etoiles contraire">
            </a>
        </div>
    </section>
</body>
</html>